/*Editor Page Stylesheet*/

.editor {
    position: relative;
    height: 100vh;
    overflow-y: hidden;
}

.editor main::-webkit-scrollbar {
    display: none;
    opacity: 0;
}

.editor nav {
    flex: 0 1 auto;
}

.editor main {
    flex: 1 1 auto;
}

/*=====Header=====*/

.editor header .left .tools span, .editor header .left .tools del {
    width: 50px;
    display: grid;
    place-items: center;
    transition: all 0.2s ease;
}

.editor header .left .tools span:hover, .editor header .left .tools del:hover {
    background: linear-gradient(45deg, blueviolet, hotpink);
}

.editor header .right .operations .options button {
    background: linear-gradient(45deg, blueviolet, hotpink);
}

.editor header .ham {
    display: none;
    gap: 5px;
    flex-direction: column;
    cursor: pointer;
    align-items: flex-end;
    rotate: -45deg;
    transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}

.editor header .ham.active {
    rotate: 0deg;
}

.editor header .ham span {
    height: 2px;
    background-color: #ffffff;
    transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
    width: 20px;
}

.editor header .ham span:nth-child(1) {
    width: 14px;
}

.editor header .ham span:nth-child(3) {
    width: 18px;
}

.editor header .ham span:nth-child(2) {
    width: 20px;
}

.editor header .ham.active span:nth-child(1) {
    rotate: 405deg;
    translate: 0 7px;
    width: 20px;
}

.editor header .ham.active span:nth-child(3) {
    rotate: -405deg;
    translate: 0 -7px;
    width: 20px;
}

.editor header .ham.active span:nth-child(2) {
    opacity: 0;
    width: 20px;
}

@media screen and (max-width: 1280px) {
    .editor header {
        padding: 24px 16px;
    }

    .editor header .ham {
        display: flex;
    }

    .editor header .left .tools {
        display: none;
    }

    .editor header .right {
        display: none;
    }

    .editor nav header {
        border-bottom: 1px solid white;
    }
}

/*=====Header End=====*/

/*=====Mobile Menu=====*/

.editor nav .mobile-menu {
    transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1);
    transform: translateY(-100%);
    overflow-y: hidden;
    padding: 16px;
}

.editor nav .mobile-menu.active {
    transform: translateY(0);
}

.editor nav .mobile-menu .tools span, .editor header .left .tools del {
    width: 50px;
    display: grid;
    place-items: center;
    transition: all 0.2s ease;
}

.editor nav .mobile-menu .tools span:hover, .editor header .left .tools del:hover {
    background: linear-gradient(45deg, blueviolet, hotpink);
}

.editor nav .mobile-menu .options .download  button {
    background: linear-gradient(45deg, blueviolet, hotpink);
}

/*=====Mobile Menu End=====*/

.editor main .preview::-webkit-scrollbar {
    display: none;
}

.editor main .editor-area::-webkit-scrollbar {
    width: 8px;
}

.editor main .editor-area::-webkit-scrollbar-track {
    background: transparent;
}

.editor main .editor-area::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 20px;
}

.editor main .preview .preview-span::-webkit-scrollbar {
    display: none;
}

.editor main .preview .preview-span {
    height: 1000%;
    max-height: max-content;
}

@keyframes gradAnim {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/*=====Main Section=====*/

/*=====Main Section End=====*/

@media print {
    .no-print {
        display: none !important;
    }

    .preview, .preview .preview-span, body, html, #root {
        height: 100% !important;
        width: 100% !important;
        display: inline-block;
    }

    .editor {
        overflow-y: initial;
        height: max-content;
    }
}