/*Select Component Style*/

:root {
    --root-clr-1: blueviolet;
    --rootclr-2: hotpink;
    --grad-1: #F875AA;
    --grad-2: #FFDFDF;
    --grad-3: #FFF6F6;
    --grad-4: #AEDEFC;
    --bg-color: #0d0d0d;
}

select {
    width: 99%;
    position: relative;
    height: 95%;
    outline: none;
}

select::-webkit-scrollbar {
    display: none;
}

.select-wrapper {
    position: relative;
    display: grid;
    place-items: center;
    width: 250px;
    height: 100%;
}

.select-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 101%;
    background: linear-gradient(45deg, var(--grad-1), var(--grad-4));
    transition: all 0.2s ease;
}

@media screen and (max-width: 320px) {
    .select-wrapper {
        width: 100%;
    }
}